#container2{
    width: 100vw;
    height: 100vh;
    background-image: url(../register/eco2.jpg);
    background-size:cover;
    

}
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }